* {
    margin: 0;
    padding: 0;
}

#menu {
    margin: 10px;
    padding-left: 5px;
}

#text_editor_wrapper {
    margin: 10px;
    border-radius: 5px;
    padding-left: 5px;
}

#title {
    padding-left: 15px;
    height: 30px;
    width: 90%;
    margin: 15px 0px 30px 30px;
    padding-left: 5px;
}

#title:hover {
    border: 1px solid rgba(74, 85, 240, 0.2);
    border-radius: 15px;
}

.btn {
    height: 30px;
    width: 30px;
    border-radius: 25%;
    background: white;
}

.btn.active {
    background-color: lightgray;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.9);
    display: none;
}

#addImg {
    border: 1px solid black;
    background-color: lightgrey;
    border-radius: 25px;
    height: 400px;
    width: 600px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    display: none;
    flex-direction: column;
    gap: 10px;
}

#overlay.active {
    display: block;
}

#addImg.active {
    display: flex;
}

#addImgText {
    height: 100px;
}

.newDivImg {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0px 10px 0px;
}

.newDivImg:hover {
    border: 1px solid rgba(74, 85, 240, 0.2);
    border-radius: 25px;
}

span.placeholder {
    color: grey;
}

span.placeholder::before {
    content: "saisir le texte";
}

span.placeholder:focus::before {
    content: "";
    display: none;
}

.paragraphe {
    min-height: 30px;
    max-width: 95%;
    margin: 15px 0px 30px 25px;
    padding-left: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.paragraphe:hover {
    border: 1px solid rgba(74, 85, 240, 0.2);
    border-radius: 15px;
}

.modal-add-btn {
    display: flex;
    align-items: stretch;
}

.modal-add-btn:hover {
    transform: translateX(-80%);
}

.button_opt {
    padding: 4px 7px;
    max-width: 10px;
    background: black;
    color: lightgrey;
    font-size: 18px;
    height: 100%;
}

.button_opt:hover {
    background: lightgrey;
    color: black;
}

.insert_img {
    display: none;
    flex-direction: column;
    width: 200px;
    background-color: lightgray;
    font-size: 17px;
    padding: 2px;
    font-size: 17px;
    flex-grow: 2;
}

.opt_img {
    padding: 5px 0px;
}

.opt_img:hover {
    background-color: aqua;
}

.insert_img.active {
    display: flex;
}

.text-content {
    max-width: 95%;
}