* {
    margin: 0;
    padding: 0;
}

#menu {
    margin: 10px;
    padding-left: 5px;
}

.text_editor {
    margin: 10px;
    border-radius: 5px;
    padding-left: 5px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

#title {
    padding-left: 15px;
    height: 30px;
    width: 90%;
    margin: 15px 0px 10px 30px;
    padding-left: 5px;
}

#title:hover {
    border: 1px solid rgba(74, 85, 240, 0.2);
    border-radius: 15px;
}

.btn {
    height: 30px;
    width: 30px;
    border-radius: 25%;
    background: white;
}

.btn.active {
    background-color: lightgray;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.9);
    display: none;
}

#addImg {
    border: 1px solid black;
    background-color: lightgrey;
    border-radius: 25px;
    height: 400px;
    width: 600px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    display: none;
    flex-direction: column;
    gap: 10px;
}

#overlay.active {
    display: block;
}

#addImg.active {
    display: flex;
}

#addImgText {
    height: 100px;
}

.newDivImg {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0px 10px 0px;
}

.newDivImg:hover {
    border: 1px solid rgba(74, 85, 240, 0.2);
    border-radius: 25px;
}

span.placeholder {
    color: grey;
}

span.placeholder::before {
    content: "Saisir le texte";
}

.paragraphe {
    min-height: 30px;
    width: 75%;
    margin: 15px 0px 30px 25px;
    padding-left: 10px;
    flex-grow: 4;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.paragraphe:hover {
    border: 1px solid rgba(74, 85, 240, 0.2);
    border-radius: 15px;
}

.btn_selector {
    display: flex;
    flex-direction: column;
}

.modal-add-btn {
    display: flex;
    flex-grow: 1;
    margin-top: 10px;
    flex-direction: row;
}

.opt_selector {
    display: flex;
    flex-direction: column
}

.button_opt {
    margin: 2px 0px;
    padding: 7px 7px;
    max-width: 15px;
    max-height: 15px;
    background: black;
    color: lightgrey;
    font-size: 18px;
    height: 100%;
    border-radius: 3px;
}

.button_opt:hover {
    background: lightgrey;
    color: black;
}

.menu_img {
    display: none;
    flex-direction: column;
    width: 200px;
    background-color: lightgray;
    font-size: 17px;
    padding: 2px;
    font-size: 17px;
    flex-grow: 2;
}

.opt_img {
    padding: 5px 3px;
}

.opt_img:hover {
    background-color: aqua;
    cursor: pointer;
}

.menu_img.active {
    display: flex;
}

.text-content {
    width: 95%;
}

.text-content:focus {
    outline: none;
}

.add-btn {
    width: 100%;
    background-color: azure;
    text-align: center;
}

.add-btn:hover {
    background-color: lightblue;
}